.archiveArea
{
	/* Transform */
	height:75%;
	width:75%;
	margin:auto;

	grid-template-areas: 'archiveHeader' 'archiveContent' 'archiveFooter';
	grid-template-rows: auto 6fr auto;
	display:grid;
}

.archiveHeader, .archiveFooter
{
	height:100%;
	width:100%;

	align-content:center;
	display:flex;
}

.statistics
{
	font-size:100%;
	width:50%;
	margin:auto;
	margin-top:0.5%;
}

.archiveHeading
{
	margin:auto;
	font-size:250%;
	text-align:center;
}

.svgLine
{
	stroke: rgba(255,255,255, 0.5);
	stroke-width: 0.35%;
}

.svgLineFaint
{
	stroke: rgba(255,255,255, 0.1);
	stroke-width: 0.35%;
}

svg
{
	background-color: rgba(255, 255, 255, 0.05);
	height: 100%;
	width: 100%;
}
