.taskArea
{
	width:50%;
	height:80%;
	margin:auto;

	background-color:none;

	grid-template-areas: 'taskHeader' 'taskContent' 'taskFooter';
	grid-template-rows: 1fr 5fr 1fr;
	display:grid;
}

.taskContent
{
	height:100%;
	width:100%;
	text-align:center;
	margin:auto;
}

.task
{
	height: 12.5%;
	width: 100%;
	margin: auto;

	grid-template-areas: 'taskTool taskName taskTool';
	grid-template-columns: 0.0fr 1fr 0.0fr;
	display: grid;
}

.task:hover
{
	grid-template-areas: 'taskTool taskName taskTool';
	grid-template-columns: 0.1fr 1fr 0.1fr;
	display: grid;
	background-color: rgba(255, 255, 255, 0.15);
}

.selectedTask
{
	background-color: rgba(255, 255, 255, 0.15);
}

.taskButton
{	
	background-repeat:no-repeat;
	background-position:center;
	background-size: 75% 75%;
}
.taskButton:hover
{
	opacity:0.5;
}

.taskName
{
	height:100%;
	align-items: center;
	display: flex;
	margin:auto;
	text-align:center;
}

.taskNameInput
{
	font-size:110%;
	color:snow;
	width:100%;
	text-align:center;
	border:none;
	background-color:rgba(0, 0, 0, 0);
}

.taskFooter
{
	align-content: center;
	display: flex;
}
